<div class="row mb-3">
  <div class="col-md-12 offset-md-2">
    <h1>
      Add a new challenge
    </h1>
  </div>
</div>

<hr>



<div class="row mb-3">
  <div class="col-md-8 offset-md-2">

    <form action="/insert_challenge" method="post">

      <div class="form-group">
        <label for="game_box">
          Game Code
        </label>

        <input type="text" id="game_box" name="query_game_code" value ="<%=@game_code%>"class="form-control">
      </div>
      
      
      <div class="form-group">
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" class="form-control">
      </div>

      <div class="form-group">
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" class="form-control">
      </div>

      <div class="form-group">
        <label for="scoring_box">
          Scoring
        </label>

        <input type="text" id="scoring_box" name="query_scoring" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary mb-5">
        Create challenge
      </button>
    </form>
  </div>


  <%if @game_code != nil%>
  <div class="col-md-8 offset-md-2 pb-5">
      <div class="col">
        <a href="/games/<%= @game_code %>" class="btn btn-block btn-outline-secondary">
          Go Back to Game
        </a>
      </div>
  </div>
  <%else%>
  <div class="col-md-8 offset-md-2 pb-5">
      <div class="col">
        <a href="/" class="btn btn-block btn-outline-secondary">
          Back to Homepage
        </a>
      </div>
  </div>
  <%end%>
  </div>

<hr>

