<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Welcome to #HelloHome, the stay-at-home online challenge
    </h1>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">

    <h2>
      Create a new game
    </h2>
    <p> <strong>Only one player has to do this,</strong> then share code with remaining players </p>

    <form action="/insert_game" method="post">
      <div class="form-group">
        <label for="username">
          Your name
        </label>

        <input type="text" id="username" name="query_username" placeholder = "e.g. BIGMAC23 or MELB012012 or JOE" class="form-control">
      </div>


      <button class="btn btn-block btn-outline-secondary">
        Create new game
      </button>
    </form>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2> OR </h2>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Join Existing Game
    </h2>

    <form action="/insert_group" method="post">
      <div class="form-group">
        <label for="game_code">
          Game code
        </label>

        <input type="text" id="game_code" name="query_game_code" placeholder = "6 charcters, case sensitive | e.g. ab2rd4" class="form-control">
      </div>

      <div class="form-group">
        <label for="username">
          Your name
        </label>

        <input type="text" id="username" name="query_username" placeholder = "e.g. BIGMAC23 or MELB012012 or JOE" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Join existing game
      </button>
    </form>
  </div>
</div>

